# ==========================================
# Database Configuration (PostgreSQL)
# ==========================================
# 로컬 기본값: jdbc:postgresql://localhost:5432/zoopick
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/zoopick
SPRING_DATASOURCE_USERNAME=your_db_username_here
SPRING_DATASOURCE_PASSWORD=your_db_password_here

# JPA SQL 쿼리 로깅 여부 (기본값: false)
SPRING_JPA_SHOW_SQL=true

# ==========================================
# Mail Configuration (Gmail SMTP)
# ==========================================

SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_google_app_password_here

# ==========================================
# Firebase Configuration
# ==========================================
# 절대경로 쓰거나 프로젝트 루트 디렉토리 기준으로
FIREBASE_ACCOUNT_KEY_PATH=classpath:firebase-adminsdk.json

# ==========================================
# JWT Configuration
# ==========================================
# JWT 토큰 서명에 사용될 비밀키
JWT_SECRET=your_super_secret_jwt_key_string_here